# Node / Next
node_modules
.next
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
packages-lock.yaml

# VCS / CI
.git
.github

# Docker
Dockerfile
.dockerignore

# Entornos
.env
.env.*
!.env.example
.turbo
.env*