@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff') format('woff');
}

@font-face {
  font-family: 'Morgan';
  src: url('/fonts/Morgan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CinzelBoldLocal';
  src: url('/fonts/Cinzel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
